/* section part begins ------------------------------------------------------------------ */

#banner{
    position: relative;
    background-image: url('../img/electonics/electronic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#sub_banner{
    display: block;
    width: 100%;
    height: 50%;
    text-align: center;
}

#sub_banner h1{
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: rgb(0, 208, 0);
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}

#searchbar{
    margin-right: 15px;
    color: rgb(0, 195, 0);
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px;
}

#searchbar:focus{
    background-color: black;
}
form{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

form button{
    background-color:rgb(0, 195, 0) ;
    padding: 3px;
    border-radius: 10px;
    width: 50px;
    height: 40px;
}

form button:hover{
    border: 2px solid white;
}

#categories{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.753);
    padding-top: 15px;
    padding-bottom: 15px;
    position:absolute;
    bottom: 0;
}

#categories a{
    text-decoration: none;
}

.cateogry{
    position: relative;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    height: 40px;
    width: 140px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: ease-in-out .2s;
    bottom: 0;
}

.cateogry:hover{
    background: white;
    color: rgba(128, 128, 128, 0.753);
}
#back_key{
    position:absolute;
    top:30px;
    left:25px;
}
#back_key a{
    text-decoration: none;
    color:white;
    background-color: green;
    border-radius: 7px;
    padding:7px 6px;
}
#back_key a:hover{
    background-color: darkgreen;
}


.allProducts{
    margin: 20px;
    border-radius: 10px ;
    background-color: rgb(244, 244, 244);
}

.productHeading{
    display: inline-block;
    background-color: rgb(224, 33, 33);
    color: white;
    font-size: 2rem;
    padding: 7px;
    margin: 25px;
}

.productsList ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.productsList ul a{
    text-decoration: none;
    border: 1px solid grey;
    background-color: white;
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10px ;
}

.showAllButton{
    border-radius: 10px ;
    height: 200px;
    border: 1px solid grey;
    background-color: rgb(27, 201, 27);
    color: white;
    text-align: center;
    padding-top: 80px;
    font-size: 1.8rem;
    transition: ease-in-out ;
    border: 1px solid black;
}

.showAllButton:hover{
    background-color: rgb(14, 185, 14);
}

.productsList a{
    text-decoration: none;
    color: black;
}

.productsList a:hover{
    box-shadow: 3px 3px 10px black;
}

