/* section part begins ------------------------------------------------------------------ */

#banner{
    position: relative;
    background-image: url('../img/electonics/electronic.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

