#heading{
    background-color: red;
    display: inline-block;
    font-size: xx-large;
    padding: 7px;
    margin-left: 30px;
    margin-top:20px;
    border-radius: 5px;
    color: white;
}

#mainBox{
    /* border: 2px red solid; */
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.427);
    border-radius: 10px;
}

.QuestionBox{
    margin-top: 10px;
    /* border: blue 2px solid; */
    border-bottom: 1px solid white;
    padding-bottom: 10px;
}

.Questions{
    color: red;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: larger;
}

.Questions img:hover{
    cursor: pointer;
}

.Answers{
    color: white;
    display: none;
}