*{
    margin:0px;
    padding:0px;
    /* box-sizing: border-box; */
}
:root{
    --theme-color:lightcyan;
    --danger-color:red;
    --safe-color:green;
}
/* Categories */
.categories-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;

}
.category{
    border: 2px solid rgb(52, 47, 47);
    border-radius: 15px;
    box-shadow: 0px 0px 5px 3px rgb(104, 102, 102);
    margin: 20px;
    padding: 20px;
    cursor: pointer;  
    background-color: rgb(211, 227, 232);  
}
.category img{
    height: 300px;
    width: 300px;
    border-radius: 15px;;
}
.category img:hover{
 
    box-shadow: 4px 3px 5px 2px rgb(0, 0, 0);
}
.category h3{
    font-family: 'Lato';
    font-size: 1.5rem;
}
.category h3:hover{
    color:orange;
}
.category a{
    text-decoration: none;
    color: black;
}


