*{
    margin:0px;
    padding:0px;
    scroll-behavior:smooth;

    /* box-sizing: border-box; */
}
:root{
    --theme-color:lightcyan;
    --danger-color:red;
    --safe-color:green;
}

html{
    /* background: linear-gradient(rgb(0, 0, 0),grey); */
    background:linear-gradient(0deg, rgba(2,0,36,1) 23%, rgba(82,7,141,1) 88%);
    background-attachment:fixed ;
}

.setwidth{
    width: 98%;
    margin: auto;
}
h2{
    background: linear-gradient(to right, #f32170,
                    #ff6b08, #cf23cf, #eedd44);
            -webkit-text-fill-color: transparent;
            background-clip:border-box;
            -webkit-background-clip: text;

}

.categories-container{
    background-color: #111;
}

/* Categories */
.categories-container{
    display: flex;
    border-radius: 15px;
    /* flex-wrap:wrap; */
    width: 98%;
    margin: auto;
    border: 2px solid black;
    /* justify-content: center; */
    overflow: hidden;
    /* overflow: auto; */
    
    position: relative;

}
.category{
    border: 2px solid rgb(52, 47, 47);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    cursor: pointer;  
    background-color: white;
    transition: ease-in-out .2s;
}
.category img{

    height: 200px;
    width: 250px;

    border-radius: 15px;
}
.category:hover{

    box-shadow: 2px 2px 10px 2px rgb(0, 0, 0);
    transform: scale(1.1);
}
.category h3{
    font-family: 'Lato';
    font-size: 1.5rem;
}
.category h3:hover{
    color:orange;
}
.category a{
    text-decoration: none;
    color: black;
}

#categoryHeading{
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    background-color: #111;
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

/* slider button */
.categories-main-container{
    position: relative;
}
.slide{
    height: 100px;
    z-index: 2;
    position:absolute;
    width: 70px;
    top:38%;
    background-color: rgb(237, 231, 231);
    cursor: pointer;
    font-size: 2rem;
}


.next{
    right : 0 ;

}
.prev{
    left:0;
}

.buttonDesign{
    border-radius: 30px;
    height: 60px;
    width: 60px;
    color: white;
    background-color: black;
    border: 2px solid white;
}

.buttonDesign:active{
    color: black;
    background-color: white;
    border: 2px solid black;
}

.about{
    margin-bottom: 20px;
}
.card{
    border-radius: 15px;
    margin-top: 20px;
    height: 300px;
    display: flex;
    background-color: black;
    justify-content: space-evenly;
}
.about :nth-child(2n-1){
    flex-direction: row-reverse;
}
.card .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:20px;
    text-align: center;
    padding: 0 20px 0 20px;
}

.pic img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 15px;
}


