*{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif     ;
 
}
 
h3{
   color: blue;
}
.box{
   display: flex;
   justify-content: center;
   width: 500px;
   background-color: rgb(252, 234, 98);

   font-size: larger;
}
.out{
   margin:0px;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow: column;
   height:737px;
   background: url('https://images.pexels.com/photos/1435737/pexels-photo-1435737.jpeg') no-repeat  ;
   background-size:100%;
  
}

h2{ 
   color:yellow;
   animation-name: dushyant;
   animation-name: batra;
   animation-duration: 0.2s;
   animation-iteration-count: infinite;
}
@keyframes dushyant{
from{
    color:rgb(0, 76, 255);
}
to{
   color:red;
}
}
@keyframes batra{
   from{
      color:red;
   }
   to{
       color:rgb(0, 76, 255);
   }
  
}

.rox{
   background: rgb(131,58,180);
   background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
   display: flex;
   justify-content: center;
   width: 500px;
   
}
.button{
   background-color: rgb(255, 52, 52);
   width: 250px;
   font-weight: bold;
   font-size: medium;
   height: 45px;
   text-decoration: none;
}
.button:hover{
   background-color: rgb(241, 149, 78);
   color: beige;
}