
/* header */
#navbarLeft li:first-child a{
    background-color: #80808053;
    color:red;

}


/* section part begins ------------------------------------------------------------------ */

#banner{
    position: relative;
    background-image: url(https://media.istockphoto.com/id/1227198304/de/foto/bunter-hintergrund-aus-verschiedenen-kr%C3%A4utern-und-gew%C3%BCrzen-zum-kochen-in-schalen.jpg?s=612x612&w=0&k=20&c=LjJDEeDFQFIgDze0twPmEQXYyXSXe5la-tENvHIuxyY=);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#sub_banner{
    display: block;
    width: 100%;
    height: 50%;
    text-align: center;
}

#sub_banner h1{
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: rgb(0, 208, 0);
    background-color: white;
    padding: 8px;
    border-radius: 10px;
}

#searchbar{
    margin-right: 15px;
    color: rgb(0, 195, 0);
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px;
}

#searchbar:focus{
    background-color: black;
}
form{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

form button{
    background-color:rgb(0, 195, 0) ;
    padding: 3px;
    border-radius: 10px;
    width: 50px;
    height: 40px;
}

form button:hover{
    border: 2px solid white;
}

#categories{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    background-color: rgba(128, 128, 128, 0.753);
    padding-top: 15px;
    padding-bottom: 15px;
    position:absolute;
    bottom: 0;
}

#categories a{
    text-decoration: none;
}

.cateogry{
    position: relative;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    height: 40px;
    width: 140px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: ease-in-out .2s;
    bottom: 0;
}

.cateogry:hover{
    background: white;
    color: rgba(128, 128, 128, 0.753);
}

.allProducts{
    margin: 20px;
    border-radius: 10px ;
    background-color: rgb(244, 244, 244);
}

.productHeading{
    display: inline-block;
    background-color: rgb(224, 33, 33);
    color: white;
    font-size: 2rem;
    padding: 7px;
    margin: 25px;
}

.productsList ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.productsList ul img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

.productsList ul h3{
    text-align: center;
    margin-top: 10px;
    color: rgb(0, 150, 0);
}

.productsList ul li .indivProduct{
    text-decoration: none;
    border: 1px solid grey;
    background-color: white;
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10px ;
}
.productsList ul li p{
    float: left;
    font-size: 0.9rem;
    margin-left: 10px;
    padding: 6px;
    background-color: rgb(0, 196, 0);
    border-radius: 10px;
    color: white;
}

.cartBtn{
    float: right;
    height: 30px;
    width: 70px;
    margin-right: 5px;
    border-radius: 0px;
    border: none;
    background-color: red;
    color: white;
    font-size: 1.05rem;
    padding: 5px;

}

.dynBtn{
    float: right;
    height: 30px;
    width: 30px;
    border-radius: 0px;
    border: none;
    background-color: red;
    color: white;
    font-size: 1.05rem;
    padding: 5px;
    display: none;

}
.cartBtn:hover{
    background-color: rgb(213, 20, 20);
}

#dynCartBtn{
    display: flex;
    float: right;
    margin-right: 5px;
}

#dynCartBtn input{
    width: 25px;
    height: 30px;
    border: 1px solid black;
    border-radius: 0px;
    /* color: ; */
}

.productsList ul li .showAllButton{
    border-radius: 10px ;
    height: 200px;
    width: 200px;
    border: 1px solid grey;
    background-color: rgb(24, 201, 27);
    color: black;
    text-align: center;
    padding-top: 80px;
    font-size: 1.8rem;
    transition: ease-in-out ;
    border: 1px solid black;
}

.showAllButton:hover{
    background-color: rgb(14, 185, 14);
}

.productsList a{
    text-decoration: none;
    color: black;
}

.productsList li:hover{
    box-shadow: 3px 3px 10px black;
}

