
/* header */
#navbarLeft li:first-child a{
    background-color: #80808053;
    color:red;
}



/* banner */
@media only screen and (max-width:450px){
    #sub_banner{
        position: relative;
        top:0px;
    }
    #sub_banner h1{
      font-size: 1.5rem;
    }
    #categories{
        padding-top: 5px;
        padding-bottom: 0px;
    }
}



