
/* header */
#navbarLeft li:first-child a{
    background-color: #80808053;
    color:red;

}
/* section part begins ------------------------------------------------------------------ */

section{
    background-color: black;
}