
body{
    /* background-color:rgb(217, 16, 16); */
    text-align:center;
    font-family: sans-serif;
    /* background: rgb(2,0,36); */
    /* background: url('https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80https://images.unsplash.com/photo-1610296669228-602fa827fc1f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1075&q=80') no-repeat  ; */
    background-size: cover;
    background-color: rgb(2, 0, 36);

}


.box{
    font-size: larger;
    /* border: 2px solid red; */
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
    color: white;
}

.box h4{
    text-align: left;
    margin-left: 5px;
}
h1{ 
    text-align: center;
    padding:10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif     ;
    margin: 5px;
}

.out{
    /* background: rgb(255,235,0); */
    background: linear-gradient(0deg, rgba(2,0,36,1) 23%, rgba(82,7,141,1) 88%);;
    background-position-y: center;
    width: 500px;
    display: block;
    margin: auto;
    /* margin-top:20px; */
    margin-bottom:20px;
    height: 100%;
    padding: 15px;
    /* border-radius: 5px; */
}


input{
    color:white;
    background: transparent;
    height:40px;
    width:400px;

    border: none;
    border-bottom:2px solid white ;
    padding: 5px;
    font-size: 1.1rem;
}

input:focus{
    outline: none;    
}

#login{
    color: white;
    margin-bottom: 10px;
}

#loginLink{
    /* text-decoration: none; */
    /* text-decoration: underline; */
    color: white;
}

#hi{
    color:rgb(67, 15, 221);
    font-size: larger;
}
/* h2{ 
    margin-top: 20px;
    color: white;
    background: linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);
    -webkit-text-fill-color: transparent;
    background-clip: border-box;
    -webkit-background-clip: text;
    animation-name: dushyant;
    animation-name: batra;
    animation-duration: .2s;
    animation-iteration-count: infinite;
} */

.out img{
    margin-top: 10px;   
}

h3{
    margin-top: 10px;
}
/* @keyframes dushyant{
 from{
     color:rgb(0, 76, 255);
 }
 to{
    color:red;
 }
}
@keyframes batra{
    from{
       color:red;
    }
    to{
        color:rgb(0, 76, 255);
    }
   
} */
#signIn{
    width: 150px;
    margin-top: 20px;
    font-size: medium;
    transition: ease-in-out .2s;
    padding: 10px;
    border: none;
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
    color: white;
}

#signIn:hover{
    cursor: pointer;
    background-color: aliceblue;
    color: black;
}
.he{
    background-color: rgb(2, 0, 36);
    color: white;
    width:100%;
    margin: auto;
    border: 2px solid black ;
    border-radius: 7px;
}

.signupForm{
    
    width:90%;
    max-width: 1000px;
    height: 600px;
    background-color: #fff;
    display: flex;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0px 0px 5px black;
}
.box1{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
    /* color:white; */
    background: linear-gradient(0deg, rgb(253, 253, 253) 23%, rgb(200, 194, 205) 88%);;
}

@media only screen and (max-width:800px){
    .signupForm{
        width: 500px;
        overflow:visible;
        max-width: 90%;
    }
    .box1{
        display: none;
    }
    input{
        width: 100%;
    }
    .out{
        width: 100%;
    }
    
}
