@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif&family=Roboto&display=swap');
.content{
    width: 100%;
    position: absolute;
    /* border: 2px solid red; */
    top:156px;
    
}
/* .slider{
    height: 400px;
    width: 100%;

    margin: auto;
    overflow: hidden;
}
.slider img{

    width: 100%;
    min-width: 100%;
    z-index: -2;
} */
#form{
    position: relative;
    /* border: 2px solid red; */
    margin: auto;
    width: 70%;
    padding: 20px;
}
.slider{
    height: 400px;
    width: 98%;
    border: 3px solid black;
    box-shadow: 0 0 5px black;
    display: flex;
    /* border: 2px solid red; */
    margin: auto;
    overflow: hidden;
}
.slider img{
    /* display: inline-block; */
    /* width: 100vw; */
    width: 100%;
    min-width: 100%;
    z-index: -2;
}

#form::before{
    content: "";
    background-color: #ffffffc3;
    z-index: -1;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
    box-shadow: 0 4px 12px 0 rgba(26, 12, 12, 0.45);
}
#form h2{
    text-align: center;
    margin:10px;
    font-size: 2.8rem;

    -webkit-text-stroke-width: 0.3px;
    -webkit-text-stroke-color: black;
    /* font-family: 'Roboto', sans-serif; */
    background:linear-gradient(to right, #f32170, #ff6b08, #cf23cf, #eedd44);;

    /* text-shadow: 2px 2px black; */
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

   
}

#form button{
    display: block;
    margin: auto;
    width:auto;
    height:auto;
    padding: 15px;
    border-radius: 15px;
    border: 3px solid black;
    margin:auto;
    font-size: 1.3rem;
    background-color: green;
    cursor: pointer;
    transition: ease-in-out .1s;
}
#form button:hover{
    background-color: rgb(0, 255, 0);
    box-shadow: 4px 4px 10px white;
    transform: scale(1.1);
}
#form button a{
    text-decoration: none;
    color:white;
}

 /* @keyframes slide1{
    0%{
        transform:translateX(0%);
    }   
    25%{
        transform: translateX(100%); 
        opacity: 1;   
    }
    26%{
        opacity: 0;
    }

    74%{
        transform: translateX(-100%);
        opacity: 0;    
    }
    75%{
        opacity: 1;    
    }
}
@keyframes slide2{
    0%{
        transform:translateX(-200%);      
    }
    50%{
        transform: translateX(0%);    
    }
}
@keyframes slide3{
    0%{
        transform:translateX(-400%);      
    }
    75%{
        transform: translateX(-100%);         
    }
}
@keyframes slide4{
    0%{
        transform:translateX(-600%);            
    }
    100%{
        transform: translateX(-200%);           
    }
} */
 @keyframes slide1{
    0%{
        transform:translateX(0%);
    
    }
    20%{
        transform:translateX(0%);
    }   
    25%{
        transform: translateX(100%);    
    }
    25%{
        opacity: 1;
    }
    26%{
        opacity: 0;
    }
    94%{
        transform: translateX(-100%);
        opacity: 0;
        
    }
    95%{
        transform: translateX(-100%);
        opacity: 1;
    }
    100%{
        transform: translateX(0%);
    }
 
}
@keyframes slide2{
    0%{
        transform:translateX(-200%);  
    }
    20%{
        transform:translateX(-200%);  
    }
    25%{
        transform: translateX(-100%);
    }
    45%{
        transform: translateX(-100%); 
    }
    50%{
        transform: translateX(0%);
    }
   
    
}
@keyframes slide3{
    0%{
        transform:translateX(-400%); 
    }
    45%{
        transform:translateX(-300%);
    }
    50%{
        transform:translateX(-200%);
    }
   70%{
        transform:translateX(-200%);
        
    }
    75%{
        transform: translateX(-100%);         
    }
}
@keyframes slide4{
    0%{
        transform:translateX(-500%);    
    }
    70%{
        transform:translateX(-400%);            
    }
    75%{
        transform: translateX(-300%);           
    }
    95%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-200%);
    }
}


.slider img:nth-child(1){
    animation: slide1 15s linear infinite;
}
.slider img:nth-child(2){
    animation: slide2  15s linear infinite;
}
.slider img:nth-child(3){
    animation: slide3  15s linear infinite;
}
.slider img:nth-child(4){
    animation: slide4  15s linear infinite;
}



/* loader */


body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .center {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
  }
  .wave {
    width: 5px;
    height: 100px;
    background: linear-gradient(45deg, cyan, #fff);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  
  

@media only screen and (max-width:800px) {
    .content{
      top:60px;  
    }
   
}
@media only screen and (max-width:1100px) {
    .content{
      top:100px;  
    }
  
}
@media only screen and (max-width:500px) {
    .content{
        top:90px
    }
    #form{
      width: 90%;  
      position: relative;
    }
    .slider{
        height: 300px;
        margin-top: 10px;
    }
    #form h2{
        font-size: 2rem;
    }
    .categories-container{
        width: 333px;
    }
   
    
  
}
@media only screen and (max-width:600px) and (min-width:500px){
    .slider{
        height: 300px;
    }
    
    
    .content{
        top:80px
    }
    #form{
        width: 80%;
    }
}
