
/* section part begins ------------------------------------------------------------------ */

#banner{
    position: relative;
    background-image: url('../img/stationery/stationery.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

