#banner{
    position: relative;
    background-image: url('../img/tailor/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    
}

/* Measurement */
.measure-box label{
    padding: 8px; 
    cursor: pointer;
}
#measurement{
    border: none;
    height: 100%;
    font-size: 1.63rem;
    padding: 2px 7px;
    background-color: red;
    cursor:pointer;
    /* margin-right: 5px; */
}
.measure-box{
    display: flex;
    align-items: center;
    border: 2px solid black;
    width: 168px;
    background-color: red;
    cursor: pointer;
}

/* Add Measurements */
.measurements{
    top:0;
    z-index: 2;
    border: 2px solid black;
    height: 100px;
    width: 60%;
    background-color: #f1f1f37b;
    position:absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    display: none;
    
}
.measurements form{
    display: block;
    width: 300px;
    height: 300px;
    margin: auto;
    border: 3px solid black;
    position: relative;
    background-color: #f1f1f3;
}

#cross{
    background-color:red;
    position: absolute;
    right: 0;
    height: 40px;
    width: 40px;
    border-radius:25px;
    
}
.measurements form button{
    width: auto;
    padding: 12px;
    margin-left: 23px;
}
.field{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.field label{
    margin-right: 10px;
}