
/* section part---------------------------------------------------------------------------------- */


section{
    background-color: ghostwhite;
}
section div h2{
    padding-bottom: 17px;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.7;
}
section div p{
    opacity: 0.8;
}
#sectionFirstChild{
    padding:74px 26px 13px 34px;
}
#sectionLastChild{
    padding:18px 30px 76px 29px;
}
#sectionFirstChild h2{
    color:red;
    font-size: 33px;
}
.termsPadding{
    padding: 22px 51px 28px 30px;
}

