@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Serif&family=Poppins&family=Roboto&display=swap');
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --danger-color:red;
    --safe-color:green;
}
.text-center{
    text-align: center;
    
}

.font-style{
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}
.flex-wrap-center{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/* header part------------------------------------------------------- */
header{
    position: sticky;
    top:0px;
    left:0px;
    z-index:1;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.1rem;
    background-color: lightcyan;
}
#navbarLeft{
    display: flex;
    width: 30%;
    list-style: none;
    align-items: center;
    justify-content: left;

}
#navbarRight{
    width:30%;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    margin-right: 20px;
    
}
#navbarLeft li a{
    font-size: 1.2rem;
    /* border-radius: 10px; */
    padding: 22px;
    /* margin: 10px; */
    text-decoration: none;
    color: var(--danger-color);
    transition:background-color 0.5s ease-in-out 0s;
    
}
#logo{
    margin:auto;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: cursive;
    color: var(--safe-color);
    cursor: pointer;
}

#logo h2 a{
    text-decoration: none;
}
#navbarRight li{
    font-size: 17px;
    padding: 6px;
    /* margin: 5px; */
    color: var(--danger-color);
    
}

#login{
    font-size: 17px;
    padding: 10px;
    /* margin: 2px; */
    text-decoration: none;
    border-radius: 10px;
    color: white;
}
#navbarRight li button{
    cursor: pointer;
    padding:10px;
    border-radius: 10px;
    background-color: var(--safe-color);
    color: white;
}
/* header part   (hover)------------------------------------------------------- */
#navbarLeft li a:hover{
   background-color: red;
   color:white;
}

#navbarRight li button:hover{
    background-color: var(--danger-color);
    color: white;
}

/* footer protion begins --------------------------------------------------------------- */
#bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bottomUp{
    display: flex;
    list-style: none;
    /* border:3px solid red;  */
    align-items: center;
    justify-content: center; 
    background-color: black;
    height:2.5rem;
    width: 100vw;
}
#bottomUp li a{
    text-decoration: none;
    margin:10px;
    color: white;
}
#bottomDown{
    display: flex;
    color: white;
    background-color: #140e0e;
    width: 100vw;
    height:2.5rem ;
    text-align: center;
    justify-content: center;
}
#bottomDown p{
   padding:8px;
}
/* footer protion begins  (hover) --------------------------------------------------------------- */

#bottomUp li a:hover{
    color:red;
}


/* Banner part */
#banner{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

#sub_banner{
    display: block;
    width: 100%;
    height: 50%;
    text-align: center;
}

#sub_banner h1{
    display: inline-block;
    margin: auto;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    color: rgb(0, 208, 0);
    background:rgba(203, 213, 214, 0.315);
    padding: 8px;
    border-radius: 10px;
    transition: ease-in 0.3s;
}
#sub_banner h1:hover{
  
    font-size: 3rem;
}
#searchbar{
    margin-right: 15px;
    color: rgb(0, 195, 0);
    height: 40px;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px;
}

#searchbar:focus{
    background-color: black;
    box-shadow: 0px 0px 5px rgb(241, 237, 237);
}
form{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

form button{
    background-color:rgb(0, 195, 0) ;
    padding: 3px;
    border-radius: 10px;
    width: 50px;
    height: 40px;
}

form button:hover{
    border: 2px solid white;
}
/* Categories */
#categories{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center;
    background-color: rgba(128, 128, 128, 0.753);
    padding-top: 15px;
    padding-bottom: 15px;
    position:absolute;
    bottom: 0;

}

#categories a{
    text-decoration: none;
}

.cateogry{
    position: relative;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    height: 40px;
    
    text-align: center;
    padding: 10px;
    text-decoration: none;
    transition: ease-in-out .2s;
    bottom: 0;
    margin: 5px;
}

.cateogry:hover{
    background: white;
    color: rgba(128, 128, 128, 0.753);
}

#back_key{
    position:absolute;
    top:30px;
    left:25px;
}
#back_key a{
    text-decoration: none;
    color:white;
    background-color: green;
    border-radius: 7px;
    padding:7px 6px;
}
#back_key a:hover{
    background-color: darkgreen;
}
.allProducts{
    margin: 20px;
    border-radius: 10px ;
    background-color: rgb(244, 244, 244);
}

.productHeading{
    display: inline-block;
    background-color: rgb(224, 33, 33);
    color: white;
    font-size: 2rem;
    padding: 7px;
    margin: 25px;
}

.productsList ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}

.productsList ul a{
    text-decoration: none;
    border: 1px solid grey;
    background-color: white;
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 10px ;
}

.showAllButton{
    border-radius: 10px ;
    height: 200px;
    border: 1px solid grey;
    background-color: rgb(27, 201, 27);
    color: white;
    text-align: center;
    padding-top: 80px;
    font-size: 1.8rem;
    transition: ease-in-out ;
    border: 1px solid black;
}

.showAllButton:hover{
    background-color: rgb(14, 185, 14);
}

.productsList a{
    text-decoration: none;
    color: black;
}

.productsList a:hover{
    box-shadow: 3px 3px 10px black;
}

/* banner part ends */
.heading{
    text-align: center;
}