#categories::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}


@media only screen and (max-width:640px){
    .productsList ul li{
        width:132px;
        height:211px;
    }
    .productsList ul li p{
      font-size: 0.6rem;
      width:90%;
    }
    .productsList ul img{
        width:128px;
        height:94px;
    }
    .productsList ul h1{
        font-size: small;
    }
    .cartBtn{
        height:26px;
        width:75%;
        font-size: 0.7rem;
    }
    #showAllButton{
        font-size: 1.5rem;
        height:auto;
    }
    .productsList ul{
        flex-wrap: wrap;
    }
    .productHeading{
        font-size: 1.5rem;
    }
    .productsList li:nth-child(2n){
        display: none;
    }
}
@media only screen and (max-width:385px){
    .productsList ul li{
        width: 49%;
        height:211px;
        margin: auto;
        padding: auto;
    }
    .productsList ul img{
        width:106px;
        height:94px;
    }
    #showAllButton{
        font-size: 1.5rem;
        height:auto;
    }
    .productHeading{
        font-size: 1.5rem;
    }
    .productsList ul{
        flex-wrap: wrap;
        padding-left: 0px;
        padding: 15px;
    }
    .productsList li:nth-child(2n){
        display: none;
    }

    .showAllMobile{
        display: block;
    }

    #listlastchild{
        display: none;
    }
    
}
@media only screen and (max-width:600px){
    #sub_banner{
        position: relative;
        top:40px;
    }
    #categories{
        padding-top:7px;
        padding-bottom: 0px;
        justify-content: left;
        /* background-color: #fff; */
    }
    #categories::-webkit-scrollbar{
        width: 0px;
        height: 6px;
    }
}