@media only screen and (max-width:750px){
    #form h2{
        font-size: 2.0rem;
    }
}
@media only screen and (max-width:450px){
    #form h2{
        font-size: 1.5rem;
    }
    #respCategory h2{
        font-size: 1.5rem;
    }
}
